@font-face {
  font-family: "American Captain";
  src: url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.eot");
  src: url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/a6bec1c4ef2d2fd1bac5a6951f5f32a3.svg#American Captain")
      format("svg");
}
body {
  background-color: #fafafa;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
/* Header Styles */
.header {
  text-align: center;
  background-image: url("./img/cp2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 34em;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  padding-top: 0.625em;
}
.menu .logo {
  width: 4.5em;
  height: auto;
  box-shadow: 0.0625em 0.0625em 0.1875em rgb(128, 0, 0);
  border-radius: 3.125em;
  margin-left: 12%;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.menu i {
  display: none;
  font-size: 2em;
  margin-right: 12%;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12%;
}
.menu ul li a {
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: 2px;
  margin: 10px;
  color: white;
  text-decoration: none;
}
.menu ul li a:hover {
  font-size: 1.2em;
  background-color: #ffffff;
  color: #2e3192;
  border-radius: 5px;
}
.header h1 {
  font-family: "American Captain";
  font-size: 3.9em;
  color: white;
  margin-top: 7%;
  letter-spacing: 5px;
}
.header h2 {
  font-family: "American Captain";
  font-size: 1.6em;
  color: white;
  margin: 1%;
  letter-spacing: 1px;
}

/* Header Styles */

/* Last Movies Cards Styles */
.edit-cards {
  margin: 3em 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
.edit-cards h2 {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  font-size: 2.3em;
  margin-bottom: 0.625em;
}
.card {
  box-shadow: 2px 5px 6px #151515;
  width: 18em;
  border-radius: 1em;
}
.btn {
  background-color: #002d5c;
}
.card img {
  border-radius: 1em;
}
/* Last Movies Cards Styles */

/* Storie Section */
.historia {
  margin: 3em auto 0 auto;
  height: 34em;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}
.descripcion {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.descripcion h3 {
  font-weight: bold;
  font-size: 2.5em;
  width: 100%;
  margin-bottom: 0.3em;
}
.descripcion p {
  width: 80%;
  font-size: 1.1em;
  margin-bottom: 0.8em;
}
.descripcion a,
button {
  width: 12.5em;
  font-size: 1em;
  outline: none;
  background-color: #002d5c;
  border: none;
  color: #f0f0f0;
  font-weight: bold;
  border-radius: 1em;
}
.imgDescripcion {
  width: 60%;
  height: 34em;
}
.imgDescripcion img {
  margin-right: 12%;
  height: 100%;
  width: 75%;
  filter: brightness(0.4);
  object-fit: cover;
  object-position: center;
}
/* Storie Section */

/* Footer */
.footer {
  height: 6em;
  background-color: #151515;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer a {
  color: #858585;
  font-size: 1.875em;
  margin: auto 1.25em;
}
.footer a:hover {
  color: #dfdfdf;
  cursor: pointer;
}
.copyright {
  width: 100%;
  color: #858585;
}
/* Footer */

/* Media Queries */
/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  body {
    font-size: 14px;
  }
  .edit-cards {
    margin: 1.25em 25%;
  }
  .edit-cards .card {
    width: 100%;
    margin: 10px auto;
  }
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  body {
    font-size: 10px;
  }
  .menu i {
    display: block;
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    display: none;
  }
  .menu ul li {
    margin-top: 10px;
  }
  .edit-cards {
    margin: 1.25em 15%;
  }
}
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  body {
    font-size: 8px;
  }
}
